---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
    name: b2-backup-cwa
    namespace: media
spec:
    secretStoreRef:
        kind: ClusterSecretStore
        name: onepassword-connect
    target:
        name: b2-backup-cwa
        creationPolicy: Owner
    data:
        - secretKey: B2_ACCOUNT_ID
          remoteRef:
            key: b2-backup-cwa
            property: keyID
        - secretKey: B2_ACCOUNT_KEY
          remoteRef:
            key: b2-backup-cwa
            property: applicationKey
        - secretKey: RESTIC_REPOSITORY
          remoteRef:
            key: b2-backup-cwa
            property: repository
        - secretKey: RESTIC_PASSWORD
          remoteRef:
            key: biggs-dogg-restic-pass
            property: password
---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
   name: cwa-backup-source
   namespace: media
spec:
   sourcePVC: cwa-config
   trigger:
      schedule: "0 */12 * * *"  # Every hour
   restic:
     pruneIntervalDays: 60  # Retain backups for 60 days
     repository: b2-backup-cwa
     retain:
       hourly: 2
       daily: 2
       weekly: 1
       monthly: 1
       yearly: 1
     copyMethod: Clone