---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
spec:
  interval: 3m
  chart:
    spec:
      chart: external-secrets
      version: 0.20.4
      sourceRef:
        kind: HelmRepository
        name: external-secrets
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: uninstall
      retries: 3
  dependsOn:
    - name: onepassword-connect
      namespace: external-secrets
  values:
    installCRDs: true
    serviceAccount:
      create: true
      name: external-secrets

