apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ersatz-config-pvc
  namespace: media
spec:
  storageClassName: ceph-block
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi