apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
    name: booklore-user-password
    namespace: media
spec:
    secretStoreRef:
        kind: ClusterSecretStore
        name: onepassword-connect
    target:
        creationPolicy: Owner
    data:
        - secretKey: password
          remoteRef:
            key: booklore-user-password
            property: password
        - secretKey: username
          remoteRef:
            key: booklore-user-password
            property: username
        - secretKey: root-password
          remoteRef:
            key: booklore-user-password
            property: password

