apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: booklore-bookdrop-pvc
  namespace: media
  labels:
    app: booklore
spec:
  accessModes:
   - ReadWriteOnce
  resources:
    requests:
      storage: 16Gi
  storageClassName: ceph-block
  