apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: booklore-mariadb-pvc
  namespace: media
  labels:
    app: booklore
spec:
  accessModes:
   - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: ceph-block
  